@import '../../shared/theme.scss';

.layout {
    &__container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 5px;
    }

    &__header {
        padding: 10px 0;
    }

    &__title {
        margin: 0;
        font-weight: 600;
        color: mat-color($primary);
    }
}