
<div *ngIf="product" class="product-description">
    <div class="product-description__container">
        <p>
            В мышке установлен оптический сенсор Razer Precision 4G с разрешением 6400 dpi и скоростью реакции 1 мс и ускорением 50G, а это означает замечательную точность распознавания курсора на любой поверхности. Сенсор способен распознавать перемещения по оси Z на расстоянии всего 1 мм от большинства поверхностей, включая стекло. Частота опроса 1000 Гц гарантирует мгновенную реакцию на пользовательские команды.
        </p>
        <p>
        	В мышке установлен оптический сенсор Razer Precision 4G с разрешением 6400 dpi и скоростью реакции 1 мс и ускорением 50G, а это означает замечательную точность распознавания курсора на любой поверхности. Сенсор способен распознавать перемещения по оси Z на расстоянии всего 1 мм от большинства поверхностей, включая стекло. Частота опроса 1000 Гц гарантирует мгновенную реакцию на пользовательские команды.
        </p>
        
        <p>
        	Мышка имеет 5 программируемых кнопок Hyperesponse. Razer DeathAdder оснащена фирменной светодиодной подсветкой зелёного цвета. Подсвечиваются колесико прокрутки и логотип. Фирменное программное обеспечение Razer Synapse позволяет настроить функционал мыши и подсветку по индивидуальным предпочтениям.
        </p>
        
        <p>
        	Razer Deathadder Essential подключается по проводному USB-интерфейсу, имеет позолоченный разъем и лёгкий кабель в защитной оплетке.
        </p>
    </div>
</div>
