<div class="order">
  <div class="order__header">
    <h2 class="order__title">Оформления заказа</h2>
    <span class="order__price"> {{ all_price }} грн. </span>
  </div>
  <div class="order__content">
    <div class="order__items">
      <div class="order__item">
        <!-- <mat-card class="card">
          <mat-card-title class="card__title">
            {{ product.name }}
          </mat-card-title>
          <img mat-card-image class="card__img" [src]="product.image" />
          <mat-card-content class="card__content">
            <span class="card__content-price">{{ product.price }} грн.</span>
            <span
              class="card__content-rating"
              [ngClass]="product.rating > 4 ? 'rating-good' : 'rating-bad'"
            >
              {{ product.rating.toFixed(1) }}
            </span>
          </mat-card-content>
        </mat-card> -->
      </div>
    </div>
  </div>
</div>
