<div class="main">
  <ngb-carousel
    class="main__carousel"
    *ngIf="articles.length > 0"
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    interval="5000"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="true"
  >
    <ng-template ngbSlide *ngFor="let art of articles">
      <div class="picsum-img-wrapper">
        <img class="main__carousel-item" [src]="art.image" alt="Article" />
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="main__best-product" *ngIf="best_products.length > 0">
    <h2 class="main__best-product-title">Лучшие товары</h2>
    <div class="main__best-product-cards">
      <app-product-card
        *ngFor="let product of best_products"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</div>
