// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$telemart-hillel-pro-primary: mat-palette($mat-indigo);
$telemart-hillel-pro-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$telemart-hillel-pro-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$telemart-hillel-pro-theme: mat-light-theme(
  $telemart-hillel-pro-primary,
  $telemart-hillel-pro-accent,
  $telemart-hillel-pro-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($telemart-hillel-pro-theme);

@import "~@angular/material/theming";
@include mat-core();
@import "./app/shared/theme.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: mat-color($primary, 600);
  }
}

a:hover {
  color: initial;
  text-decoration: none;
}

button:focus {
  outline: none;
}
