
@import '~@angular/material/theming';
@include mat-core();
@import './app/shared/theme.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 3px;
        height: 0;
      }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: mat-color($primary, 600);
    }
}
